{% extends "molde.html" %}
{%  block content %}
<div>
	<h3>Descubra aqui a condutividade elétrica de um material</h3>
	<p> À partir das fórmulas demonstradas na <a href="/semicondutores"> explicação sobre semicondutores </a>, descubra a resistividade e a condutividade de seu material</p>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<p>{{ form.resist.label }} : {{form.resist(size = 8)}}</p>
		<br>
		<p>{{ form.ohm.label }} : {{ form.ohm(size = 8)}}</p>
		<br>
		<p> {{form.area.label }} : {{ form.area(size = 8) }} </p>
		<br>
		<p>{{ form.comp.label }} : {{ form.comp(size = 8)}} </p>
		<br>
		<p>{{ form.condut.label }} : {{ form.condut(size = 8)}}</p>
		<br>
		<p>{{ form.calcular() }}</p>
	</form>
	<h3>Respostas</h3>
	<p> Resistividade : {{form.resistividade}}</p>
	<p> Condutividade:  {{form.condutividade}}</p>
	<p> Resistência:    {{form.resistencia}}</p>
	<p> Área:           {{form.ar}}</p>
	<p> Largura:	    {{form.comprimento}}</p>
	<p>{{form.tipo_mat}} </p>
	{% if form.errors %}
	<p color:"red" >Algo de errado não está certo</p>
	{% endif %}
</div>

{% endblock %}
