{%extends "molde.html" %}

{% block content %}
	<h1> pagina {{pag}}</h1>
	<br>
	<h2>Condutividade dos materiais</h2>
	<br>
	<p>É de conhecimento comum que a humanidade obteve grandes avanços tecnológicos ao descobrir uma maneira de "domar" a corrente elétrica, ou seja, conter e conduzir os elétrons livres como bem entender. Contudo, isso só foi possível graças a uma característica dos materiais: a condutividade e a resistividade.</p>
	<p>Na verdade, a condutividade e a resistividade tratam da mesma propriedade, porém de pontos de vista diferentes. A condutividade mensura a facilidade dos elétrons livres fluírem por um material; e a resistividade mede quanta resistência o material apresenta a esse fluxo.</p>
	<p>De acordo com essas grandezas os materiais podem ser classificados em 3 tipos:</p>
	<ul>
		<li>Condutores: Apresentam grande facilidade na condução de corrente elétrica (ou pouca resistência). </li>
		<li>Isolantes: Possuem grande resistência à corrente elétrica (ou pouca facilidade na condução).
		<li>Semicondutores: Também conhecidos como semi-isolantes (porém essa nomenclatura é pouco utilizada) são materiais que se encontram no meio dos condutores e isolantes, podendo assumir as propriedades de qualquer um dos dois dependendo da situação em que são submetidos. Graças a essa peculiaridade que foram desenvolvidos os circuitos integrados e os computadores.</li>
	</ul>
	<p>A resistividade elétrica, representada pela letra grega rho (\(\rho\)), consiste em uma constante medida em ohm metro (\(\varOmega\)m) e é definida pelo material. Entretanto, por estar diretamente relacionado com a resistência elétrica (R) é capaz de obtê-la através da fórmula: 
	$$\rho = {AR \over L}$$
	<ul style="list-style-type:none;">
		<li>\(\rho\) = resistividade elétrica [\(\varOmega\)m]
		<li>R = resistência elétrica [\(\varOmega\)]</li>
		<li>A = área [m²]</li>
		<li>L = comprimento [m]</li>
	</ul>
	</p>
	<p>A condutividade elétrica, representada pela letra grega sigma (\(\sigma\)), é medida em siemens por metro (S/m) e é definida pela fórmula:
	$$\sigma = {1 \over \rho}$$
	<ul style="list-style-type:none;">
		<li>\(\sigma\) = condutividade elétrica [S/m]
		<li>\(\rho\) = resistividade elétrica [\(\varOmega\)m]
	</ul>
	</p>
	<p>~~~Inserir imagem aqui~~~</p>
	<br>
	<h2>Semicondutores</h2>
	<br>
	<h3>Semicondutor intrínseco</h3>
	<p>O semicondutor intrínseco é aquele que se encontra na forma pura, ou seja, atua sem a adição de nenhuma substância. Esse tipo de semicondutor é raramente utilizado.</p>
	<p>Entre os semicondutores mais utilizados estão o germânio (Ge) e o silício (Si) e a análise dos semicondutores pode ser feita através de conceitos físicos (bandas de energia) ou conceitos químicos (ligações covalentes). Por motivos didáticos será abordado o silício através de conceitos químicos.</p>
	<p>O silício possui 4 elétrons na camada de valência e é considerado neutro, pois o número de elétrons é igual ao número de prótons. Muitas vezes é utilizada a nomenclatura "cristal de silício", uma vez que ele forma uma estrutura geométrica cúbica: cada elétron da camada de valência se liga a um elétron da camada de valência de outro silício, estabelecendo uma simetria.</p>
	<p>Por motivos de simplificação será representado apenas os elétrons da camada de valência.</p>
	<p>~~~Inserir imagem aqui~~~</p>
	<p>Na condição de semicondutor intrínseco o silício atua como um isolante, já que não possui elétrons livres; mas quando submetido a temperaturas elevadas pode ocorrer o rompimento de ligações covalentes, fazendo com que o elétron da camada de valência se torne um elétron livre e surja uma lacuna no local.</p>
	<p>Os elétrons são considerados cargas negativas (-), e uma vez que as lacunas representam a ausência de elétrons são consideradas cargas positivas (+). Colocando o cristal de silício sob uma diferença de potencial (ddp) somos capazes de movimentar essas cargas.</p>
	<p>A movimentação dos elétrons é algo conhecido: se direcionam ao polo positivo, região de maior potencial. Também é atribuído movimento as lacunas, embora uma lacuna individual não mude de posição. O que acontece é o preenchimento da primeira lacuna por um elétron livre e surgimento de uma nova lacuna no local de origem desse elétron, por isso é dito que o movimento das lacunas possui senido contrário ao movimento dos elétrons.</p>
	<p>~~~Inserir imagem aqui~~~</p>
	
{% endblock %}
